.css-ciy9n4-MuiPaper-root-MuiAppBar-root, .css-1t29gy6-MuiToolbar-root{
  background: rgb(16,0,94);
  background: linear-gradient(0deg, rgba(16,0,94,1) 0%, rgba(16,0,94,.8) 50%, rgba(16,0,94,.7) 100%);
  min-height: 51px !important;
}
.css-8u39c-MuiTypography-root{
  display: flex;
  align-items: center;
  font: 400 1.5rem 'Montserrat', sans-serif;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
  max-width: 240px;
  width: 100%;
  & > div{
    display: flex;
    padding: 5px 15px;
    border-bottom: 1px solid #ebe7e7;
    justify-content: flex-end;
  }
}