.player{
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: $icon_sidebar;
  color: white;

  svg {
    fill: white;
    width: 40px;
    height: auto;
    border-radius: 50%;
    border: 2px solid white;
    padding: 3px;
    margin: 0 15px 0 0;
  }
  input.undefined{
    border: solid 1px lightgrey;
    border-radius: 8px;
    height: 7px;
    width: 200px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
  }
  input.progress {
    //background: linear-gradient(to right, #82CFD0 0%, #82CFD0 40%, #fff 40%, #fff 100%);
    border: solid 1px lightgrey;
    border-radius: 8px;
    height: 7px;
    width: 400px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;

  }

  .progress::-webkit-slider-thumb, .undefined::-webkit-slider-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: $sidebar_background;
  }

  .track_progress{
    display: flex;
    align-items: center;
    div.volume, div.time{
      width: 100px;
      margin: 0 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    div.time{
      width: 150px;
    }
  }
}