
.tracks_list {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 15px 10px 15px;

  h1 {
    margin: 0;
    color: $lite_grey;
  }

  .track {
    margin: 20px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .track_picture_wrapper {
      position: relative;
      margin-bottom: 15px;
      width: 100%;
      z-index: 100;

      &:before {
        opacity: 0;
      }

      &:hover {
        &:before {
          -webkit-transition: opacity 1s ease-in-out;
          -moz-transition: opacity 1s ease-in-out;
          -o-transition: opacity 1s ease-in-out;
          transition: opacity 1s ease-in-out;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(77, 93, 110, 1);
          opacity: .8;
          z-index: 200;
        }

        .play {
          display: block;
        }
      }

      .play {
        display: none;

        .MuiButtonBase-root {
          position: absolute;
          z-index: 400;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);

          svg {
            fill: white;
            width: 30%;
            height: auto;
            border-radius: 50%;
            border: 2px solid white;
            padding: 3px;
          }
        }
      }

      .track_picture {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 300px;
        width: 100%;
      }

    }

    .track_title, .track_autor, .track_time {
      color: $sidebar_background;
    }

    div.track_description {
      max-width: 400px;
      margin: 0 20px;

      .track_title {
        font-size: 14px;
      }

      .track_autor {
        font-size: 12px;
      }
    }

    .track_time {
      font-size: 14px;
    }

    .delete {
      margin-left: auto;

      svg {
        fill: $sidebar_background;
      }
    }
  }
}


.single_track {
  min-height: calc(100vh - 115px);
  padding: 15px;
  h2 {
    font: 400 22px 'Montserrat', sans-serif;
  }
  .description_track_wrapper {
    margin: 20px 0;

    h1 {
      font: 400 26px 'Montserrat', sans-serif;
      margin: 0 0 10px 0;
    }


    h3 {
      font: 300 20px 'Montserrat', sans-serif;
      margin: 10px 0;
    }

    .track_picture {
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      height: 350px;
      width: 100%;
      max-width: 350px;
    }


    div:nth-last-child(1) {
      margin-left: 20px;
    }
  }

  .MuiFormControl-root {
    margin-bottom: 15px;
    background: #fff;
    border-radius: 5px;
  }

  button {
    margin-left: auto;
    max-width: 300px;
    width: 100%;
  }
}

