.center{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
  max-width: 240px;
  width: 100%;
}